In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("Salaries.csv")
print(df.head())

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [5]:
df = pd.read_csv("Salaries.csv")

num_rows = df.shape[0]
num_cols = df.shape[1]

print(f"The DataFrame has {num_rows} rows and {num_cols} columns.")

print("\nFirst 10 rows:")
print(df.head(10))

if num_rows >= 15:
    print("\nLast 15 rows:")
    print(df.tail(15))
else:
    print("\nLast rows:")
    print(df.tail(num_rows))

The DataFrame has 78 rows and 6 columns.

First 10 rows:
        rank discipline  phd  service   sex  salary
0       Prof          B   56       49  Male  186960
1       Prof          A   12        6  Male   93000
2       Prof          A   23       20  Male  110515
3       Prof          A   40       31  Male  131205
4       Prof          B   20       18  Male  104800
5       Prof          A   20       20  Male  122400
6  AssocProf          A   20       17  Male   81285
7       Prof          A   18       18  Male  126300
8       Prof          A   29       19  Male   94350
9       Prof          A   51       51  Male   57800

Last 15 rows:
         rank discipline  phd  service     sex  salary
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
66   AsstProf          A    7        6  Female   63100
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646